li {
    list-style: none;
}

.cabecalho {
    display: flex;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000080;
    width: 210px;
    height: 100%;
    transition: .2s;
}

ul {
    margin: 0;
    padding: 20px;
}

li a {
    padding: 10px 20px;
    color: #fff;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
}

.sidebar-button {
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #0047AB;
    border-radius: 50%;
    border: solid 1px;
    outline:#000080;
}

.sidebar-button span {
    display: block;
    width: 35px;
    height: 5px;
    background: #fff;
    position: absolute;
    transition: .2s;
    border-radius: 10px;
}

.line1 {
    top: 13px;
}

.line2 {
    top: 21px;
   
}

.line3 {
    top: 29px;
}

.showSideBar .line1 {
    transform: rotate(45deg) translate(.4rem, .9rem);
    background-color: #fff;
    box-shadow: none;
}

.showSideBar .line2 {
    opacity: 0;
    visibility: hidden;
}

.showSideBar .line3 {
    transform: rotate(45deg) translate(.3rem, -.9rem);
    background-color: #fff;
    box-shadow: none;
}



.sidebar-button span::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    height: 3px;
    width: 100%;
    transition: .2s;
}

.sidebar-button span::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    height: 3px;
    width: 100%;
    transition: .2s;
}

li:hover {
    background-color: #0047AB;
}


img {
    width: 10vw;
}

header {
    background-color: #fff;
    overflow: hidden;
}

.showSideBar .linesHamb{
    margin-left: 0vh;
}

