*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* html {
    font-size: 62.5%;
    scroll-behavior: smooth; 
    }
    @media only screen and (max-width: 75em) {
      html {
        font-size: 59%; } 
    }
    @media only screen and (max-width: 56.25em) {
      html {
        font-size: 56%; } 
    }
    @media only screen and (min-width: 112.5em) {
      html {
        font-size: 65%; } 
} */

body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Russo One', sans-serif;
    padding: 25px;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
        flex-direction: column;
        align-items: center;
    }
}


#title{
    @media (max-width: 650px) {
        display: flex;
        
    }
} #title h1{
    @media (max-width: 650px) {
        padding: 5px;
        
    }
}

a{
    display: inline-block;
    margin: 20px;
    color: white;
    font-family: 'Jost', sans-serif;
    text-decoration: none;

}

a:hover{
    color: #0047AB;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid #0047AB;
    padding: 10px;
    border-radius: 15px;

    @media (max-width: 650px) {
        display: none;
    }
   
}

#inscreva-se-btn:hover{
    background-color: #0047AB;
    color: white;
}

#entrar-btn {
    border: 2px solid #0047AB;
    padding: 10px;
    border-radius: 15px;
    display: none;

    @media (max-width: 650px) {
        display: inline;
    }
}

#entrar-btn:hover{
    background-color: #0047AB;
    color: white;
}

h1{
    font-weight: 200;
    font-family: 'Russo One', sans-serif;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

h2{
    font-size: 56px;
    font-family: 'Bungee Hairline', sans-serif;

    @media (max-width: 650px) {
        font-size: 34px;
    }
}

span{
    color: #0047AB;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Jost', sans-serif;
}

img{
    width: 70%;
    padding-left: 25%;
    
}

aside {
    padding-left: 10%;

    @media (max-width: 1000px) {
        display: flex;
    }
    @media (max-width: 650px) {
        display: block;
        padding: 0% 5%;
        
    }
}

.aside-texts {
    @media (max-width: 650px) {
        text-align: center;
        
    }
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;

    @media (max-width: 1000px) {
        padding: 5%;
        text-align: center;
        width: 85%;
    }
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #0047AB;
    color: white;

    
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

article {
    @media (max-width: 1000px) {
        display: none;

    }
    
}


nav{
    @media (max-width: 650px) {
        display: flex;
        flex-wrap: nowrap;

    }
}

